/* about.css */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  margin-top: 7% ;
}

.about-card {
  max-width: 400px; /* Example max-width value */
  width: 100%; /* Ensures cards are responsive */
  margin-bottom: 20px; /* Adds space between cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adds a subtle box shadow */
  border-radius: 8px; /* Adds rounded corners */
  padding: 20px; /* Adds padding inside the card */
}

.row {
  display: flex;
  justify-content: space-between; /* Adds space between columns */
  margin-bottom: 20px; /* Adds space between rows */
}

.col {
  flex: 1; /* Ensures columns take up equal space */
}
