

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: fit-content;
}

.button:hover {
  background-color: #0056b3;
}

.main-div {
  min-height: 100vh; /* Ensures main-div takes up at least the full viewport height */
  display: flex;
  flex-direction: column;
}

.main-div > .footer {
  margin-top: auto; /* Pushes the footer to the bottom */
}

.main-div > .blog-container {
  margin-top: 407px;
}