.blog-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 100px;
}


.description {
  width: 100%; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description:hover {
  white-space: normal;
  overflow: visible;
}
.custom-card.card {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 500px;

}

.load-more-icon {
  font-size: 2em;
  cursor: pointer;
  color: #000;
  transform: rotate(270deg); 
  position: fixed;
  right: 20px;
  bottom: 350px;

}

.load-more-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 20px;
}


.load-more-icon:hover {
  color: #007bff; 
}
