/* Style for the container */
.container-profile {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    display: flex; /* Use flexbox to arrange items horizontally */
    flex-direction: column; /* Stack items vertically */
}

.container-profile input {
    margin-right: 10px; /* Add some spacing between input fields */
}

/* Style for labels */
label {
    margin-bottom: 5px;
}

/* Style for inputs */
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white; 
    color: black;
}

/* Style for buttons */
button {
    margin-top: 10px;
}
