
.container-profile {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
}

.container-profile input {
    margin-right: 10px; 
}


label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white; 
    color: black;
}


button {
    margin-top: 10px;
}
