.bg-body-tertiary {
  background-color: #205a66 !important;
}

.mainbody h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  padding-left: 200px;
  padding-top: 150px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #205a66;
}


.main-button { 
  width: fit-content;
  margin-left: 250px;
}
 
.bg-body-tertiary {
  color: white;
}

