

.navbar-brand {
  color: #fff !important;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

/* MainBody styles */
.mainbody {
  text-align: center;

}

.mainbody h1 {
  font-size: 4rem;
  color: #205a66;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1rem;
}

.mainbody .main-button {
  width: 300px; 
  margin-top: 20px;

}

.mainbody .main-button:hover {
  background-color: rgba(255, 0, 0, 0.571);
}

/* Text container styles */
.text-container {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 150px; /* Adjust margin-left as needed */
}

.text-container .special-heading {
  font-size: 3rem;
  color: #205a66;
  text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.3);
  margin: 0;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-container .subheading {
  font-size: 2rem; /* Adjust font size */
  color: #333;
  text-shadow: 1px 1px 3px rgba(255, 0, 0, 0.3);
  padding: 20px; /* Adjust padding */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .mainbody .main-button {
    width: 100%; /* Full width on smaller screens */
  }
}

