:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  overflow-x: hidden;
}

/* Adjust the height dynamically based on content */
body {
  height: auto; /* Set height to auto to accommodate content */
}

/* Enable vertical scrolling when content overflows */
html, body {
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Optionally, set a minimum height for the body */
body {
  min-height: calc(100vh - 50px); /* Set a minimum height to fill the viewport */
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #111111;
  }
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-image: url('https://www.caller.com/gcdn/presto/2020/02/19/PLSJ/0076aa1f-3f45-42dd-aa1d-6bee61eef833-Doctor-stock-3.jpg?width=1200&disable=upscale&format=pjpg&auto=webp');
  }
} */

/* Track */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners for the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}
@media (prefers-color-scheme: dark) {
  body {
    /* Apply background image for dark mode */
   
    /* Adjust background properties as needed */
    background-size: cover; /* Ensure the image covers the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center center; /* Center the image */
  }
}
