/* 
.login-form {
  background-color: #f1f1f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login {
  color: #1995AD;
  font-family: arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-bottom: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  }
  .login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: fit-content;
    width: 100vw; 
    height: 100vh;
  }

 */
