.register-form {
  width: 100%;
  align-content: center;
}

.package-picker {
  display: flex;
  justify-content: center;
  margin-top: 0; 
}

.doctor-add-form {
  width: 100%;
  margin: 0 auto;
}

.input-form-container {
  margin-left: 250px;
}

.packegeSelect {
  margin: 10px;
}

.role-selection {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin: 10px;
}

.role-selection input[type="radio"] {
  cursor: pointer;
  color: white;
}

.text-center {
  text-align: center;
  margin: 0 auto; 
  display: block;
  width: fit-content; 
  max-width: 100%; 
  padding: 0; 
  font-weight: bold;
  font-size: 2rem; 
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #010101;
  background-color: #fff;
  outline: none;
  cursor: pointer;

}

/* Style radio button labels */
input[type="radio"] + label {
  font-size: 1rem;
  cursor: pointer;
}

/* Style radio buttons when checked */
input[type="radio"]:checked {
  background-color: #205a66;
}

.register-page {
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 10%;
}


.icons {
  margin: auto;
}

.icon_display{
 margin-right: 20px;
}

.formforregister {
  display: flex;
}