.tabs {
  border: 1px solid #1b1b1b;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  overflow: auto;

}
.row{
  width: 1200x;
  flex-wrap: wrap;
}

.container{

  height: 600px;
}
.custom-tabs .nav-link {
  /* Add styles for each tab link/button */
  padding: 10px 20px; /* Adjust the padding as needed */
  color: #333;
  border: none; /* Remove border from individual tab links */
  border-radius: 10px;
}

.welcomdiv {
  margin-bottom: 50px ;
}
.content-container {
  
  overflow-y: auto; /* Enable vertical scroll if content overflows */
  padding: 20px; /* Add padding to the container */
}
.table-container {
  overflow-x: auto; /* Enable horizontal scroll if table overflows */
  max-width: 100%; /* Ensure the table container takes up the available width */
}

.table {
  width: 100%; /* Ensure the table takes up the full width of its container */
  border-collapse: collapse; /* Collapse table borders */
}

.table th,
.table td {
  padding: 8px; /* Add padding to table cells */
  border: 1px solid #ccc; /* Add border to table cells */
  text-align: left; /* Align text to the left */
  word-break: break-word; /* Allow long words to break */
}

/* Apply styles when the window is smaller */
@media (max-width: 500px) {
  .table th,
  .table td {
    white-space: nowrap; /* Prevent text wrapping within table cells */
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis; /* Display an ellipsis (...) for overflowing text */
  }
}